@import "./variable.scss";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
}

.slider {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.25);
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    height: 0px;
    width: 0px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $white;
  }
}

.slide {
  flex-shrink: 0;
}
