@import "../../../assets/scss/mixin.scss";
@import "../../../assets/scss/variable.scss";

.input-location {
  label {
    @include text-small;
  }

  .input-group-text {
    background-color: $gray-300;
    border: none;
  }

  select {
    background-color: $gray-300;
    border: none;
    -webkit-appearance: none;
    background: url("../../../assets/images/logo/Forward.png") no-repeat right
      $gray-300;
  }
}
