@import "../../assets/scss/mixin.scss";
@import "../../assets/scss/variable.scss";

#upcoming {
  .upcomin-text {
    padding: 45px 0 36px;

    h4 {
      font-weight: 600;
    }
  }

  h5 {
    cursor: pointer;
    color: $purple;
  }

  .upcoming-button {
    .upcoming-button-month {
      width: 120px;
      margin: 15px 15px 15px;
    }
  }

  .upcoming-button::-webkit-scrollbar-thumb {
    background-color: $gray-300;
  }

  .upcomin-movie {
    width: 195px;
    margin: 15px;
    padding: 15px;
    border: 1px solid $gray-400;
    border-radius: 8px;

    p {
      color: $gray-600;
      font-size: 12px;
    }
  }

  .slider::-webkit-scrollbar-thumb {
    background-color: $gray-300;
  }
}
