@import "../../assets/scss/mixin.scss";
@import "../../assets/scss/variable.scss";

.detail-movie {
  img {
    border-radius: 8px;
    border: 1px solid $gray-300;
    padding: 20px;
    height: 300px;
    width: 210px;
    object-fit: cover;
  }

  h1 {
    font-weight: 700;
  }

  p {
    color: $gray-500;
  }
}

p#error {
  margin: auto,
}

.showtimes {
  h4 {
    @include text-large;
    font-weight: 700;
  }
}

.view-more {
  a {
    width: 60%;
    margin: 0.7em auto;
    overflow: hidden;
    text-align: center;
    font-weight: 300;
  }

  a::before,
  a::after {
    content: "";
    display: inline-block;
    width: 50%;
    margin: 0 0.5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid $gray-300;
  }

  a:after {
    margin: 0 -55% 0 0.5em;
  }
}