@import "../../assets/scss/mixin.scss";
@import "../../assets/scss/variable.scss";

.info-sign {
  display: none;

  @include min-tablet() {
    background: linear-gradient(0deg,
        rgba(43, 21, 107, 0.8),
        rgba(43, 21, 107, 0.8)),
      url("../../assets/images/iron.png");
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
      color: $white;
    }

    .info-sign-content {
      color: white;
      padding-left: 50px;

      h1 {
        font-weight: 600;
      }

      p {
        font-size: 17px;
        line-height: 2.5rem;
        color: rgba(255, 255, 255, 0.7);
      }

      .order-status {
        .older-list-status {
          counter-increment: item;
          margin-bottom: 0;
          padding-bottom: 20px;

          .active {
            color: $white;
          }

          .active::before {
            background-color: $white;
            color: $purple;
          }

          p {
            margin-bottom: 0;
          }

          p::before {
            margin-right: 10px;
            content: counter(item);
            border: 2px solid #ffffff;
            border-radius: 100%;
            color: white;
            width: 45px;
            text-align: center;
            display: inline-block;
          }

          .line {
            height: 20px;
            border-left: 2px solid #ffffff;
            z-index: 1;
            position: absolute;
            margin: 0 1.4rem;
          }
        }
      }
    }
  }
}