@import "../../assets/scss/mixin.scss";
@import "../../assets/scss/variable.scss";

#sign {
  height: 100vh;
  /*-----Form sign up or sing in---*/

  .form-sign {
    margin: auto;
    max-width: 100%;

    .logo-mobile {
      @include min-tablet() {
        display: none;
      }
    }

    h2 {
      font-weight: 700;
    }

    .sign-p {
      color: $gray-600;
      font-size: 18px;

      @include phone() {
        display: none;
      }
    }

    .btn-login {
      padding: 15px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
      color: $gray-600;
      border-radius: 16px;
      margin-left: 25px;
      margin-bottom: 10px;
      width: 150px;

      img {
        height: 20px;
      }

      span {
        margin-left: 5px;
      }

      &:hover {
        background-color: $gray-200;
      }

      @include phone() {
        width: 50px;
        margin-left: 10px;

        span {
          display: none;
        }
      }
    }
  }
}